<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rousing.mapper.ArticleAchievementMapper">


    <cache eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="true"/>

    <select id="selectCollect" parameterType="Integer" resultType="Integer">
        select count(*)
        from collect
        where col_status = 1
          and col_article = #{artId}
    </select>

    <select id="selectView" parameterType="Integer" resultType="Integer">
        select count(*)
        from view
        where view_article = #{artId}
    </select>

    <select id="selectLike" parameterType="Integer" resultType="Integer">
        select count(*)
        from like_it
        where like_status = 1
          and like_article = #{artId}
    </select>
</mapper>